body {
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #17171718, #3633331b);
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #0c73da;
}

.list {
  list-style-type: none;
  padding: 0;
}

.list-item {
  margin-bottom: 10px;
}

.key {
  font-weight: bold;
  margin-right: 10px;
  color: #2980b9;
}

.value {
  color: #34495e;
}
